<template>
  <div class="navigation">
    <router-link :to="{ name: 'home' }">Aircrafts</router-link>
  </div>
</template>

<script>
export default {
  name: "NavLinks"
};
</script>

<style scoped lang="scss">
.navigation {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
