<template>
  <div>{{ errorMsg }}</div>
</template>

<script>
import { mapState } from "vuex";

export default {
  name: "Error",
  computed: mapState({
    errorMsg: state => state.geolocation.error
  })
};
</script>
