<template>
  <div>
    <LoadingSpinner v-if="pending" />
    <AircraftDetails :aircraft="aircraft" v-if="aircraft" />
  </div>
</template>

<script>
// @ is an alias to /src
import AircraftDetails from "@/components/AircraftDetails";
import LoadingSpinner from "@/views/LoadingSpinner";
import { mapState } from "vuex";

export default {
  name: "PageAircraft",
  computed: {
    aircraft() {
      return this.$store.getters.getAircraftById(this.$route.params.id);
    },
    ...mapState({
      pending: state => state.aircraft.pending
    })
  },
  created() {
    if (!this.aircraft) {
      this.$store.dispatch(
        "fetchAircrafts",
        this.$store.state.geolocation.coords
      );
    }
  },
  components: {
    AircraftDetails,
    LoadingSpinner
  }
};
</script>
