<template>
  <div>
    <LoadingSpinner v-if="pending" && !aircrafts.length />
    <AircraftList :aircrafts="aircrafts" />
  </div>
</template>

<script>
// @ is an alias to /src
import AircraftList from "@/components/AircraftList";
import LoadingSpinner from "@/views/LoadingSpinner";
import { mapState } from "vuex";

export default {
  name: "Home",
  components: {
    AircraftList,
    LoadingSpinner
  },
  computed: {
    aircrafts() {
      return this.$store.getters.getAircraftsSorted("Alt", false);
    },
    ...mapState({
      pending: state => state.aircraft.pending
    })
  },
  created() {
    const dispatchFetchAction = () => {
      this.$store.dispatch(
        "fetchAircrafts",
        this.$store.state.geolocation.coords
      );
    };

    if (!this.aircrafts.length) {
      dispatchFetchAction();
    }
    this.interval = setInterval(dispatchFetchAction, 60000);
  },
  beforeDestroy() {
    clearInterval(this.interval);
  }
};
</script>
