<template>
  <div class="aircraft-list-item">
    <router-link :to="{ name: 'aircraft', params: { id: aircraft.Id } }">
      <div class="aircraft-list-item__header">
        <div class="aircraft-list-item__code">#{{ aircraft.Call }}</div>
        <img
          class="aircraft-list-item__orientation"
          :class="{
            'aircraft-list-item__orientation--west': orientation === 'west'
          }"
          src="../assets/right-arrow.svg"
          :title="'Orientation: ' + orientation + '-bound'"
          v-bind:alt="orientation"
        />
      </div>
    </router-link>
    <div class="aircraft-list-item__body">Altitude: {{ aircraft.Alt }}</div>
  </div>
</template>

<script>
export default {
  name: "AircraftListItem",
  computed: {
    orientation() {
      return this.aircraft.Cos[1] >
        this.aircraft.Cos[this.aircraft.Cos.length - 2]
        ? "west"
        : "east";
    }
  },
  props: {
    aircraft: {
      required: true,
      type: Object
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.aircraft-list-item {
  width: 180px;
  margin: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;

  &__header {
    display: flex;
    justify-content: space-between;
    background: antiquewhite;
    padding: 5px 10px;
  }

  &__body {
    padding: 10px;
  }

  &__code {
    font-size: 16px;
  }

  &__orientation {
    width: 20px;
    height: 20px;

    &--west {
      transform: scaleX(-1);
    }
  }
}
</style>
