<template>
  <div class="aircraft-details">
    <div class="aircraft-details__logo">
      <img :src="companyLogo" :alt="aircraft.Call" :title="aircraft.Call" />
    </div>

    <div class="aircraft-details__info">
      <div class="aircraft-details__item details-item">
        <span class="details-item__label">Model description:</span>
        {{ aircraft.Mdl }}
      </div>
      <div class="aircraft-details__item details-item">
        <span class="details-item__label">From:</span>
        {{ aircraft.From }}
      </div>
      <div class="aircraft-details__item details-item">
        <span class="details-item__label">To:</span>
        {{ aircraft.To }}
      </div>
    </div>
  </div>
</template>

<script>
import { getCompanyLogo } from "../api";

export default {
  name: "AircraftDetails",
  props: {
    aircraft: {
      required: true,
      type: Object
    }
  },
  data() {
    return {
      companyLogo: ""
    };
  },
  created() {
    getCompanyLogo(this.aircraft.Op).then(response => {
      this.companyLogo = response.data[0]
        ? response.data[0].logo
        : require("@/assets/no-logo.png");
    });
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.aircraft-details {
  display: flex;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;

  &__logo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 128px;
    height: 128px;
    margin-right: 30px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.details-item {
  text-align: left;
  margin-bottom: 10px;
  font-size: 16px;

  &__label {
    font-weight: bold;
  }
}
</style>
