<template>
  <div class="aircraft-list">
    <AircraftListItem v-for="ac in aircrafts" :key="ac.Id" :aircraft="ac" />
  </div>
</template>

<script>
import AircraftListItem from "@/components/AircraftListItem";

export default {
  name: "AircraftList",
  props: {
    aircrafts: {
      required: true,
      type: Array
    }
  },
  components: {
    AircraftListItem
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.aircraft-list {
  display: flex;
  flex-wrap: wrap;
}
</style>
