<template>
  <div id="app">
    <div class="page-container">
      <NavLinks />
      <router-view />
    </div>
  </div>
</template>

<style lang="scss">
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.page-container {
  margin: 0 auto;
  max-width: 1000px;
}
</style>

<script>
import NavLinks from "./views/NavLinks";

export default {
  components: { NavLinks }
};
</script>
